header img {
    margin: 2vh;
    border-radius: 50%;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.imagecarousel {
    position: relative;
}
.image {
    display: none;
}
.image:first-of-type {
    display: block;
    text-align: center;
}
.image img {
    border-radius: 5px;
    max-height: 600px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    background-color: rgba(206, 199, 199, 0.957);
    padding: 2vh;
    transition: all 500ms ease;
    transform: translateY(-50%);
    font-size: 150%;
    color: rgba(245, 245, 245, 0.952);
}
.prev {
    left: 0;
    border-radius: 0, 5px, 5px, 0;
}
.next {
    right: 0;
    border-radius: 5px, 0, 0, 5px;
}
.prev:hover, .next:hover {
    background-color: rgba(128, 128, 128, .85);
    color: rgba(245, 245, 245, 1);
    cursor: pointer;
}

.dots {
    display: flex;
    gap: 1vh;
    margin: 3px;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(178, 163, 163, .35);
    border-radius: 50%;
}
.active {
    background-color: rgb(178, 163, 163, 1);

}